body {
  /* fallback for old browsers */
  /* background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);  
  background: linear-gradient(to right, #004e92, #000428);  */
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  color: black;
}